<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="flex flex-wrap items-center justify-between mx-auto p-4">
    <a
      routerLink="/"
      class="flex items-center"
    >
      <img
        src="https://flowbite.com/docs/images/logo.svg"
        class="h-8 mr-3"
        alt="Flowbite Logo"
      />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
    </a>
    <div class="hidden w-full md:block md:w-auto">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li *ngFor="let nav of listNav">
          <ng-container *ngTemplateOutlet="navTemplate; context: { $implicit: nav }"></ng-container>
        </li>
        <li>
          <ng-container *ngIf="authService.isLoggedIn; else logIn">
            <ng-container [ngTemplateOutlet]="logOut"></ng-container>
          </ng-container>
          <ng-template #logIn>
            <ng-container
              *ngTemplateOutlet="navTemplate; context: { $implicit: { name: 'Login', link: 'login', icon: 'fa-lock' } }"
            ></ng-container>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>
<ng-template
  #navTemplate
  let-item
>
  <!-- Nếu bạn muốn chỉ áp dụng routerLinkActive cho route chính xác và không áp dụng cho các route con, bạn có thể sử dụng  [routerLinkActiveOptions] = exact: true -->
  <a
    routerLinkActive='!text-red-500'
    [routerLink]="item.link"
    [routerLinkActiveOptions]="{ exact: item.name === 'Home'}"
    class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
  ><i
      class="fa-solid"
      ngClass={{item?.icon}}
    ></i> {{item?.name}}</a>
</ng-template>
<ng-template #logOut>
  <a
    (click)="authService.logOut()"
    class="cursor-pointer block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
  ><i class="fa-solid fa-right-from-bracket"></i>Log out</a>
</ng-template>