.wrapper {
  position: relative;
  height: auto;
}
.box {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 8em;
  text-shadow: 0 0 6px #8b4d1a;
}

p {
  margin-bottom: 0.5em;
  font-size: 1.75em;
  color: #ea8a1a;
}

p:first-of-type {
  text-shadow: none;
}

p > a {
  border-bottom: 1px dashed #837256;
  font-style: italic;
  text-decoration: none;
  color: #837256;
}

p > a:hover {
  text-shadow: 0 0 3px #8b4d1a;
}
